.music {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  z-index: 666;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  border-radius: 0.5rem;
  width: 20rem;
  height: 9rem;

  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

  &[data-show=false] {
    opacity: 0.3;
    transform: translateX(-22rem) scale(0.2);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;

    background-color: var(--ifm-background-surface-color);
    border-radius: 0.5rem;
  }

  &::before {
    content: '';
    position: absolute;
    $max: 1rem;
    top: -$max;
    left: -$max;
    right: -$max;
    bottom: -$max;
    z-index: -6;
    border-radius: 0.5rem;
    opacity: 0.8;
    background-image: radial-gradient(
                    hsl(300,80%,50%) 0%,
                    hsl(270,80%,50%) 10%,
                    hsl(240,80%,50%) 20%,
                    hsl(210,80%,50%) 30%,
                    hsl(180,80%,50%) 40%,
                    hsl(150,80%,50%) 50%,
                    hsl(120,80%,50%) 60%,
                    hsl(90,80%,50%) 70%,
                    hsl(60,80%,50%) 80%,
                    hsl(30,80%,50%) 90%,
                    hsl(00,80%,50%) 100%
    );
    background-size: 200% 200%;
    background-position: 0% 50%;
    filter: blur(20px);
    transition: opacity 0.3s ease-out;
  }
}
