.box {
  margin: 0 1rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  .icon {
    fill: var(--ifm-font-color-base);
  }

  &:hover .icon {
    fill: var(--ifm-color-primary);
  }

  svg {
    $size: 22px;
    width: $size;
    height: $size;
  }
}
